/* COLABORATORIO THEME FOR BOOTSTRAP, overwrites default bootstrap styles
-------------------------------------------------- */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Body and structure
-------------------------------------------------- */
html {
  width: 100%;
}
body#homepage {
  color: white;
  width: 100%;
  position: relative;
  padding-top: 0px;
  background: url(/imagenes/grid.jpg) top center;
}
footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
}
.oculto {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */

  clip: rect(1px, 1px, 1px, 1px);
}
#firma a {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(/imagenes/ribbon.png) top left no-repeat;
  z-index: 1000;
}
/* NABVAR THEMED
-------------------------------------------------- */
#homepage > .navbar {
  -webkit-box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5);
  background-color: none;
  font-size: 13px;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
#homepage > .navbar .navbar-inner {
  padding: 0px;
  margin: 0px;
  background-color: inherit;
  background-image: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
#homepage > .navbar .nav {
  margin: 0px auto;
  padding: 0 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1170px;
  width: 100%;
  float: none;
}
#homepage > .navbar .nav .active {
  background-color: rgba(0, 0, 0, 0.15);
}
#homepage > .navbar .nav .active a {
  background-color: rgba(0, 0, 0, 0);
}
#homepage > .navbar .nav li {
  line-height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333333333333336%;
  text-align: center;
}
#homepage > .navbar .nav li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#homepage > .navbar .nav li a {
  padding: 0px;
  font-size: 18px;
  text-shadow: none;
  margin-top: -2px;
}
#homepage > .navbar .nav li a:link,
#homepage > .navbar .nav li a:visited,
#homepage > .navbar .nav li a:active {
  color: white;
}
@media (min-width: 320px) and (max-width: 768px) {
  #homepage .navbar {
    margin: 0px;
    padding: 0px;
  }
  #homepage .navbar .navbar-inner {
    margin: 0px;
    padding: 0px;
  }
  #homepage .navbar .navbar-inner .nav {
    margin: 0px;
    padding: 0px;
  }
  #homepage .navbar .nav > li {
    float: none;
    width: 100%;
    height: 50px;
  }
  #homepage .navbar .nav > li a {
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 50px;
  }
  #homepage .navbar .nav > li a:hover {
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  #homepage .navbar .nav > li {
    float: left;
    height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  #homepage .navbar .nav > li a {
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 50px;
  }
  #homepage .navbar .nav > li a:hover {
    background-color: transparent;
  }
}
/* Change the docs' brand */
#homepage > .navbar .brand {
  display: none;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0px;
  position: absolute;
  top: 0px;
  left: 10px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
#homepage > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.4);
}
/* Faded out hr */
hr.soften {
  color: white;
  border: none;
  height: 1px;
  margin: 54px 0;
  border-top: 0px solid rgba(255, 255, 255, 0.5);
}
/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
  border: none;
  padding: 0px;
  margin: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  height: 450px;
  background-color: black;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.8);
}
.jumbotron .inner h1 {
  text-align: center;
  font-size: 100px;
  letter-spacing: -1px;
  line-height: 1;
  width: 100%;
  height: 450px;
  background: url(/imagenes/logo.png) center center no-repeat;
}
@media (max-width: 979px) {
  .jumbotron .inner h1 {
    background-size: 100% auto!important;
  }
}
@media (min-width: 979px) {
  .jumbotron .inner h1 {
    background-size: 70% auto!important;
  }
}
.jumbotron h2 {
  position: absolute;
  top: 280px;
  width: 100%;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 18px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px;
}
/* Masthead (docs home) */
.jumbotron .inner {
  width: 100%;
  height: 450px;
  position: absolute;
  top: 0px;
  background: url(/imagenes/overlay.png) top center no-repeat;
  margin: 0 auto;
  padding: 0px;
}
@media (max-width: 979px) {
  .jumbotron .inner {
    background-size: 979px 450px!important;
  }
}
@media (min-width: 979px) {
  .jumbotron .inner {
    background-size: 100% 450px!important;
  }
}
.grid {
  width: 100%;
  position: absolute;
  top: 0px;
  height: 450px;
  background: url(/imagenes/grid-transparent.png) top center;
}
.galeria {
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: absolute;
  top: 0px;
}
.galeria .imagen {
  height: 450px;
  width: 100%;
}
@media (max-width: 1210px) {
  .galeria .imagen {
    background-size: auto 450px!important;
  }
}
@media (min-width: 1210px) {
  .galeria .imagen {
    background-size: 90% auto!important;
  }
}
/* * tumbnail shadow enhancement */
.thumbnail {
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
@media (min-width: 768px) {
  .thumbnail .etiquetas {
    position: absolute;
    bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .seccion {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px 40px;
  }
}
/* Marketing section of Overview
-------------------------------------------------- */
.marketing .row {
  margin-bottom: 9px;
}
.marketing h1 {
  font-family: "colaborativaMedium";
  margin: 0px 0 30px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
}
.marketing .marketing-byline {
  margin: -15px 0 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.marketing h2 {
  font-size: 32px;
  font-weight: 300;
}
.marketing p {
  margin-right: 10px;
}
/* THEMED que section */
#que {
  padding-top: 60px;
  margin-bottom: 90px;
}
#que .marketing-byline {
  font-size: 24px;
}
#que h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 130px;
}
#que p {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
#que .garaje {
  background: url(../imagenes/garaje.png) top center no-repeat;
}
#que .arte-ciencia {
  background: url(../imagenes/arte-ciencia.png) top center no-repeat;
}
#que .cultura-libre {
  background: url(../imagenes/cultura-libre.png) top center no-repeat;
}
#proyectos {
  padding-top: 60px;
  margin-bottom: 90px;
}
#proyectos .thumbnail h2 {
  font-size: 26px;
}
#proyectos .thumbnail h4 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
}
#proyectos .thumbnail p {
  font-size: 16px;
}
#proyectos .formulario {
  text-align: center;
  margin: 10px auto 50px auto;
}
#como {
  padding-top: 60px;
  margin-bottom: 40px;
}
#como .marketing-byline {
  font-size: 24px;
  margin-bottom: 80px;
}
#como h2 {
  margin-bottom: 20px;
}
#como p {
  font-size: 16px;
  margin-bottom: 50px;
}
.footer {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
}
.footer a:link,
.footer a:visited,
.footer a:active {
  color: white;
  text-decoration: underline;
}
@media (min-width: 320px) and (max-width: 768px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* this is for fixing line heigh problems in narrow screens */
h2,
h3 {
  line-height: 25px!important;
}
/* this is for allowing a single row for all the chapter and event elements changing the number of rows in different screen sizes */
@media (min-width: 320px) and (max-width: 768px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .span4 {
    margin-left: 0!important;
  }
  .thumbnail {
    min-height: 520px!important;
    background-color: white!important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .span4:nth-child(3n+1) {
    margin-left: 0!important;
  }
  .thumbnails .span4:nth-child(2n+1) {
    margin-left: 0!important;
  }
  .thumbnails .span4 {
    margin-left: 20px!important;
    width: 352px!important;
  }
  .thumbnail {
    min-height: 640px!important;
    background-color: white!important;
  }
}
@media (min-width: 979px) and (max-width: 1209px) {
  .span4:nth-child(3n+1) {
    margin-left: 0!important;
  }
  .span4 {
    margin-left: 20px!important;
    width: 290px!important;
  }
  .thumbnail {
    min-height: 660px!important;
    background-color: white!important;
  }
}
@media (min-width: 1210px) {
  .span4:nth-child(3n+1) {
    margin-left: 0!important;
  }
  .span4 {
    margin-left: 30px!important;
    width: 370px!important;
  }
  .thumbnail {
    min-height: 590px!important;
    background-color: white!important;
  }
}
