<ul class="quick-links">
	<form class="validate form-horizontal" action="http://colaborativa.us4.list-manage.com/subscribe/post?u=49ccc7dc39a917c95d3d3345a&amp;id=d5304b2d08" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
		<fieldset>
					<div class="input-append">
						<input type="email" value="" name="EMAIL" class="email input" id="mce-EMAIL" placeholder="dirección de correo" required><input type="submit" value="Subscríbete" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">
					</div>
		</fieldset>
	</form>
</ul>