<ul class="quick-links">
	<li>
		<div id="mc_embed_signup">
			<form action="http://colaborativa.us4.list-manage.com/subscribe/post?u=49ccc7dc39a917c95d3d3345a&amp;id=d5304b2d08" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank">
				<input type="email" value="" name="EMAIL" class="email input-xlarge" id="mce-EMAIL" placeholder="email address" required>
				<input type="submit" value="Subscríbete" name="subscribe" id="mc-embedded-subscribe" class=" btn-success">
			</form>
		</div>
	</li>
	<li class="follow-btn">
		<a href="https://twitter.com/colaborativaeu" class="twitter-follow-button" data-show-count="true" data-lang="en">Seguir @colaborativaeu</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</li>
	<li class="tweet-btn">
		<a href="https://twitter.com/intent/tweet?screen_name=colaborativaeu&text=%23colaboratorio" class="twitter-mention-button" data-lang="es" data-related="javiburon,msanchezmora">Tweet to @colaborativaeu</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</li>
	<li class="tweet-btn">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="colaborativaeu" data-lang="es" data-hashtags="colaboratorio">Twittear</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</li>
</ul>