<meta name='robots' content='index'/>
<meta name="Description" content="Espacio de cultura abierta en torno a la ciencia, el arte y la tecnología">

<meta itemprop="name" content="Colaboratorio">
<meta itemprop="description" content="Espacio de cultura abierta en torno a la ciencia, el arte y la tecnología">
<meta itemprop="author" content="Colaborativa">
<meta itemprop="image" content="http://colaboratorio.colaborativa.eu/imagenes/colaboratorio.jpg" />
<meta itemprop="url" content="http://colaboratorio.colaborativa.eu" />

<meta property="og:title" content="Colaboratorio" />
<meta property="og:description" content="Espacio de cultura abierta en torno a la ciencia, el arte y la tecnología" />
<meta property="og:image" content="http://colaboratorio.colaborativa.eu/imagenes/colaboratorio.jpg" />
<meta itemprop="og:url" content="http://colaboratorio.colaborativa.eu" />