<!DOCTYPE html>
<html lang="es">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
		<link href='css/bootstrap-modal.css' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title>{{ page.title }} | {{ page.subtitle }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% include _socialmeta.html %}
		{% include _headscripts.html %}
		{% include _googleanalytics.html %}
	</head>
	<body id="homepage" data-spy="scroll" data-retina="true">
		<div id="firma">
			<a href="http://colaborativa.eu" data-retina="true"><span class="oculto">Un proyecto de Colaborativa.eu</span></a> 
		</div>
		<header class="jumbotron">
				<div class="galeria">
					<div class="imagen" style="background: url(/imagenes/banner-01.jpg) center center no-repeat"><span class="creditos">Imagen: Toni Castillo CC-BY-NC</span></div>
				</div>
				<div class="grid" data-retina="true"></div>
				<div class="inner">
					<hgroup>
						<h1><span class="oculto">{{ page.title }}</span></h1>
						<h2><span class="oculto">{{ page.subtitle }}</span></h2>
					</hgroup>				
				</div>
				
		</header>
		<div class="navbar navbar-inverse"> <!-- needs to get navbar-fixed-top class when scrolling down -->
		  <div class="navbar-inner">
		    <div class="container">
		      <div class="nav-collapse collapse">
		        <ul class="nav">
		          <li><a href="#que">¿Qué es?</a></li>
		          <li><a href="#proyectos">{{ page.section2.title }}</a></li>
		          <li><a href="#como">¿Cómo participar?</a></li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container">
			<div class="marketing">
				<div id="que" class="seccion">
					<h1>{{ page.section1.title }}</h1>
					<p class="marketing-byline">{{ page.section1.subtitle }}</p>
					<div class="row-fluid">
						<div class="span4 garaje">
							<h2>{{ page.section1.subSection1.title }}</h2>
							<p>{{ page.section1.subSection1.blurb }}</p>
						</div>
						<div class="span4 arte-ciencia">
							<h2>{{ page.section1.subSection2.title }}</h2>
							<p>{{ page.section1.subSection2.blurb }}</p>
						</div>
						<div class="span4 cultura-libre">
							<h2>{{ page.section1.subSection3.title }}</h2>
							<p>{{ page.section1.subSection3.blurb }}</p>
						</div>
					</div>
				</div>
				<div id="proyectos" class="seccion">
					<h1>{{ page.section2.title }}</h1>
					<p class="marketing-byline">{{ page.section2.subtitle }}</p>
					<div class="row-fluid">
						<div class="span12 formulario">
							{% include _quicklinks.html %}
						</div>
					</div>
					<div class="row-fluid">
						<ul class="thumbnails">
							{% for event in site.categories['evento'] %}
							<li class="span4">
								<div class="thumbnail">
									<a href="http://www.flickr.com/photos/50381188@N06/sets/{{ event.flickr-set }}/show/" data-toggle="modal"><img src="imagenes/{{ event.slug }}.jpg" alt=""></a>
									<div class="caption">
										<h2>{{ event.title }}</h2>
										<h4>{{ event.subtitle }} · {{ event.date | date: "%b %Y"}}</h4>
										<p> {{ event.content }}</p>
										<div class="etiquetas">
											{% for tag in event.tags %}
												{% if tag.license %}
													<span class="label label-info">{{ tag.license }}</span>
												{% else %}
													<span class="label">{{ tag }}</span>
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div id="como" class="seccion">
					<h1>{{ page.section3.title }}</h1>
					<p class="marketing-byline">{{ page.section3.subtitle }}</p>
					<div class="row-fluid">
						<div class="span6">
							<h2>{{ page.section3.subSection1.title }}</h2>
							{{ page.section3.subSection1.blurb | markdownify }}
						</div>
						<div class="span6">
							<h2>{{ page.section3.subSection2.title }}</h2>
							{{ page.section3.subSection2.blurb | markdownify }}
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<h2>{{ page.section3.subSection3.title }}</h2>
							{{ page.section3.subSection3.blurb | markdownify }}
						</div>
						<div class="span6">
							<h2>{{ page.section3.subSection4.title }}</h2>
							{{ page.section3.subSection4.blurb | markdownify }}
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
						</div>
						<div class="span6 quienessomos">
							<h2>{{ page.section3.subSection5.title }}</h2>
							{{ page.section3.subSection5.blurb | markdownify }}
						</div>
						<div class="span3">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p>{{ page.footer.footer1 | markdownify }}</p>
			<p>{{ page.footer.footer2 | markdownify }}</p>
			<p>{{ page.footer.footer3 | markdownify }}</p>
		</div>
	</footer>
	<!-- Button to trigger modal -->
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.js"></script>
	<script src="js/libs/retina-replace.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</html>
